<!DOCTYPE html>
<html>
  <head>
    <%# '<%=' führt function aus und fügt Ergebnis in template ein  %>
    <%# full_title ist eigener helper, siehe app/helpers/application_helper %>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
